In [17]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [35]:
%matplotlib inline

In [36]:
gdp_df=pd.read_csv('../data/gdp_percapita.csv')

In [37]:
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes  Footnote Number  \
0     Afghanistan  2018  1734.723214              NaN              NaN
1     Afghanistan  2017  1758.465636              NaN              NaN
2     Afghanistan  2016  1757.023490              NaN              NaN
3     Afghanistan  2015  1766.593077              NaN              NaN
4     Afghanistan  2014  1795.735834              NaN              NaN
5     Afghanistan  2013  1807.762344              NaN              NaN

   Footnote String
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
5              NaN

In [33]:
internet_df=pd.read_csv('../data/internet_use.csv')

In [34]:
print(internet_df.head(6))

  Country or Area  Year             Value Value Footnotes  Footnote Number  \
0     Afghanistan  2014              6.39             NaN              NaN
1     Afghanistan  2013               5.9             NaN              NaN
2     Afghanistan  2012  5.45454545454545             NaN              NaN
3     Afghanistan  2011                 5             NaN              NaN
4     Afghanistan  2010                 4             NaN              NaN
5     Afghanistan  2009              3.55             NaN              NaN

  Footnote String
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN

In [40]:
np_gdp=np.array(gdp_df)
print(np_gdp.shape)

(6731, 6)

In [42]:
np_internet=np.array(internet_df)
print(np_internet.shape)

(4676, 6)

In [43]:
print(type(np_gdp))

<class 'numpy.ndarray'>

In [52]:
print(np.info(np_gdp))

class:  ndarray
shape:  (6731, 6)
strides:  (8, 53848)
itemsize:  8
aligned:  True
contiguous:  False
fortran:  True
data pointer: 0x1a251ed000
byteorder:  little
byteswap:  False
type: object
None

In [71]:
print(gdp_df.dtypes)

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
Footnote Number    float64
Footnote String    float64
dtype: object

In [72]:
print(internet_df.dtypes)

Country or Area     object
Year                object
Value               object
Value Footnotes     object
Footnote Number    float64
Footnote String     object
dtype: object

In [73]:
print(gdp_df.tail(10))

     Country or Area                                      Year        Value  \
6721        Zimbabwe                                      1997  3036.422224
6722        Zimbabwe                                      1996  2985.856605
6723        Zimbabwe                                      1995  2736.486436
6724        Zimbabwe                                      1994  2768.309953
6725        Zimbabwe                                      1993  2572.870395
6726        Zimbabwe                                      1992  2591.007534
6727        Zimbabwe                                      1991  2906.272849
6728        Zimbabwe                                      1990  2819.549467
6729   footnoteSeqID                                  Footnote          NaN
6730               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes  Footnote Number  Footnote String
6721              NaN              NaN              NaN
6722              NaN              NaN              NaN
6723              NaN              NaN              NaN
6724              NaN              NaN              NaN
6725              NaN              NaN              NaN
6726              NaN              NaN              NaN
6727              NaN              NaN              NaN
6728              NaN              NaN              NaN
6729              NaN              NaN              NaN
6730              NaN              NaN              NaN

In [75]:
print(internet_df.tail(10))

     Country or Area                                               Year  \
4666             171                        Internet Dial-up customers.
4667             172  Population age 16+ using the Internet in the l...
4668             173  Population age 16+ using internet in the last ...
4669             174  U.S. Census Bureau, Table 2. Reported Internet...
4670             175             Includes individuals 3 years and older
4671             176                                   NTIA/CPS survey.
4672             177                     Pew Internet Project, Internet
4673             178  Estimated based on Survey's results. Populatio...
4674             179                     Preliminary. Country estimate.
4675             180  The methodology used to estimated the figure f...

                                     Value Value Footnotes  Footnote Number  \
4666                                   NaN             NaN              NaN
4667                                   NaN             NaN              NaN
4668                                   NaN             NaN              NaN
4669                                   NaN             NaN              NaN
4670                                   NaN             NaN              NaN
4671                                   NaN             NaN              NaN
4672   Broadband and cell phone statistics     ‚Äù January 5           2010.0
4673                                   NaN             NaN              NaN
4674                                   NaN             NaN              NaN
4675                                   NaN             NaN              NaN

                                        Footnote String
4666                                                NaN
4667                                                NaN
4668                                                NaN
4669                                                NaN
4670                                                NaN
4671                                                NaN
4672   http://www.pewinternet.org/~/media//Files/Rep...
4673                                                NaN
4674                                                NaN
4675                                                NaN

In [76]:
print(gdp_df.pop('Value Footnotes'))

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
6726   NaN
6727   NaN
6728   NaN
6729   NaN
6730   NaN
Name: Value Footnotes, Length: 6731, dtype: float64

In [77]:
print(gdp_df)

     Country or Area                                      Year        Value  \
0        Afghanistan                                      2018  1734.723214
1        Afghanistan                                      2017  1758.465636
2        Afghanistan                                      2016  1757.023490
3        Afghanistan                                      2015  1766.593077
4        Afghanistan                                      2014  1795.735834
...              ...                                       ...          ...
6726        Zimbabwe                                      1992  2591.007534
6727        Zimbabwe                                      1991  2906.272849
6728        Zimbabwe                                      1990  2819.549467
6729   footnoteSeqID                                  Footnote          NaN
6730               2  Excludes South Sudan after July 9, 2011.          NaN

      Footnote Number  Footnote String
0                 NaN              NaN
1                 NaN              NaN
2                 NaN              NaN
3                 NaN              NaN
4                 NaN              NaN
...               ...              ...
6726              NaN              NaN
6727              NaN              NaN
6728              NaN              NaN
6729              NaN              NaN
6730              NaN              NaN

[6731 rows x 5 columns]

In [79]:
gdp_df.pop('Footnote Number')
gdp_df.pop('Footnote String')

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
6726   NaN
6727   NaN
6728   NaN
6729   NaN
6730   NaN
Name: Footnote String, Length: 6731, dtype: float64

In [80]:
print(gdp_df
    )

     Country or Area                                      Year        Value
0        Afghanistan                                      2018  1734.723214
1        Afghanistan                                      2017  1758.465636
2        Afghanistan                                      2016  1757.023490
3        Afghanistan                                      2015  1766.593077
4        Afghanistan                                      2014  1795.735834
...              ...                                       ...          ...
6726        Zimbabwe                                      1992  2591.007534
6727        Zimbabwe                                      1991  2906.272849
6728        Zimbabwe                                      1990  2819.549467
6729   footnoteSeqID                                  Footnote          NaN
6730               2  Excludes South Sudan after July 9, 2011.          NaN

[6731 rows x 3 columns]

In [81]:
internet_df.pop('Value Footnotes')
internet_df.pop('Footnote Number')
internet_df.pop('Footnote String')

0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
                              ...
4671                                                  NaN
4672     http://www.pewinternet.org/~/media//Files/Rep...
4673                                                  NaN
4674                                                  NaN
4675                                                  NaN
Name: Footnote String, Length: 4676, dtype: object

In [82]:
print(internet_df)

     Country or Area                                               Year  \
0        Afghanistan                                               2014
1        Afghanistan                                               2013
2        Afghanistan                                               2012
3        Afghanistan                                               2011
4        Afghanistan                                               2010
...              ...                                                ...
4671             176                                   NTIA/CPS survey.
4672             177                     Pew Internet Project, Internet
4673             178  Estimated based on Survey's results. Populatio...
4674             179                     Preliminary. Country estimate.
4675             180  The methodology used to estimated the figure f...

                                     Value
0                                     6.39
1                                      5.9
2                         5.45454545454545
3                                        5
4                                        4
...                                    ...
4671                                   NaN
4672   Broadband and cell phone statistics
4673                                   NaN
4674                                   NaN
4675                                   NaN

[4676 rows x 3 columns]

In [85]:
gdp_df_new=gdp_df.rename(columns={'Country or Area':'Country','Value':'GDP_Per_Capita'})
print(gdp_df_new.head(6))

       Country  Year  GDP_Per_Capita
0  Afghanistan  2018     1734.723214
1  Afghanistan  2017     1758.465636
2  Afghanistan  2016     1757.023490
3  Afghanistan  2015     1766.593077
4  Afghanistan  2014     1795.735834
5  Afghanistan  2013     1807.762344

In [86]:
print(gdp_df_new.tail(6))

            Country                                      Year  GDP_Per_Capita
6725       Zimbabwe                                      1993     2572.870395
6726       Zimbabwe                                      1992     2591.007534
6727       Zimbabwe                                      1991     2906.272849
6728       Zimbabwe                                      1990     2819.549467
6729  footnoteSeqID                                  Footnote             NaN
6730              2  Excludes South Sudan after July 9, 2011.             NaN

In [87]:
internet_df_new=internet_df.rename(columns={'Country or Area':'Country','Value':'Internet_Users_Pct.'})
print(internet_df_new.head(6))

       Country  Year Internet_Users_Pct.
0  Afghanistan  2014                6.39
1  Afghanistan  2013                 5.9
2  Afghanistan  2012    5.45454545454545
3  Afghanistan  2011                   5
4  Afghanistan  2010                   4
5  Afghanistan  2009                3.55

In [88]:
print(internet_df_new.tail(6))

     Country                                               Year  \
4670     175             Includes individuals 3 years and older
4671     176                                   NTIA/CPS survey.
4672     177                     Pew Internet Project, Internet
4673     178  Estimated based on Survey's results. Populatio...
4674     179                     Preliminary. Country estimate.
4675     180  The methodology used to estimated the figure f...

                       Internet_Users_Pct.
4670                                   NaN
4671                                   NaN
4672   Broadband and cell phone statistics
4673                                   NaN
4674                                   NaN
4675                                   NaN